:root {
    --join-bcg-: #292F36 ;
    --text-color-: #4D5053 ;
    --active-color-: #CDA274 ;
    --bcg-color-: #FFFFFF ;
    --info-bcg-: #F4F0EC ;
    --border-color-: #E7E7E7 ;
    --bottom-border-: #E5E5E5 ; 
    --hover-button-dark-: #202429 ; 
    --hover-button-light-: #be966c;
    --hover-button-cards-: #efe8e1;
}

.basis {
    font-family: "Jost";
}

.container {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 5px solid burlywood; */
}

/* Header */

.top {
    padding-top: 26px;
    padding-bottom: 18px;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 485px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: var(--join-bcg-);
    font-size: 19px;
    font-weight: 400;
    line-height: 1.58;
    letter-spacing: 0.4px;
}

.nav-link:active, .nav-link:hover {
    color: var(--active-color-);
}

.active {
    color: var(--active-color-);
}

/* Hero */

.hero {
    padding-top: 188px;
    padding-bottom: 260px;
    background-image: url(../images/living_room.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0px 0px 0px 290px;
}

.hero-title {
    width: 595px;
    margin-bottom: 18px;
    color: var(--join-bcg-);
    font-family: "DM Serif Display";
    font-size: 80px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.22px;
}

.hero-text {
    width: 577px;
    margin-bottom: 35px;
    color: var(--text-color-);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.hero-button {
    padding-left: 34px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 17px;
    background-color: var(--join-bcg-);
    border: none;
    border-radius: 18px;
    color: var(--bcg-color-);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.72px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.hero-button:hover, .hero-button:active {
    background-color: var(--hover-button-dark-);
}

/* Section Details */

.details {
    padding-top: 100px;
    padding-bottom: 50px;
}

.details-list {
    display: flex;
    justify-content: center;
}

.details-item {
    width: 400px;
    height: 395px;
    padding-top: 75px;
    padding-bottom: 103px;
}

.details-item:nth-child(1) {
    padding-left: 42px;
    padding-right: 41px;
}

.details-item:nth-child(2) {
    padding-left: 52px;
    padding-right: 51px;
}

.details-item:nth-child(3) {
    padding-left: 52px;
    padding-right: 52px;
}

.details-title {
    color: var(--join-bcg-);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.22px;
}

.details-text {
    color: var(--text-color-);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    margin-top: 17px;
    margin-bottom: 35px;
}

.details-item:nth-child(1) > .details-text {
    margin-bottom: 68px;
}

.details-more {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.details-link {
    color: var(--text-color-);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.36px;
}

.details-link:hover, .details-link:active {
    color: var(--active-color-);
} 

/* Section Innovations */

.innovations {
    padding-top: 50px;
    padding-bottom: 140px;
}

.inno-flex {
    display: flex;
}

.innovations-info {
    width: 592px;
    height: 568px;
}

.innovations-title {
    margin-top: 40px;
    margin-bottom: 42px;
    color: var(--join-bcg-);
    font-family: "DM Serif Display";
    font-size: 50px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.22px;
}

.innovations-text {
    width: 515px;
    color: var(--text-color-);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.innovations-under-text {
    margin-bottom: 50px;
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.innovations-circle {
    width: 93px;
    height: 93px;
    background-color: var(--info-bcg-);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innovations-telephone {
    color: var(--text-color-);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.innovations-telephone:hover, .innovations-telephone:active {
    color: var(--active-color-);
}

.innovations-remark {
    color: var(--text-color-);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.innovations-button {
    padding-left: 34px;
    padding-right: 25px;
    padding-top: 18px;
    padding-bottom: 17px;
    background-color: var(--join-bcg-);
    border: none;
    border-radius: 18px;
    color: var(--bcg-color-);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.72px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.innovations-button:hover, .innovations-button:active {
    background-color: var(--hover-button-dark-);
}

.innovations-image {
    border-radius: 0px 326px 0px 123px;
}

/* Section Responces */

.responces-radius {
    padding-top: 103px;
    padding-bottom: 121px;
    padding-left: 51px;
    padding-right: 51px;
    background-color: var(--info-bcg-);
    border-radius: 70px;
}

.responces-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 47px;
    width: 479px;
    color: var(--join-bcg-);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 45px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.22px;
}

.responces-list {
    display: flex;
    gap: 18px;
}

.responces-item {
    width: 354px;
    height: 287px;
    padding-top: 50px;
    padding-bottom: 45px;
    padding-left: 35px;
    padding-right: 75px;
    background-color: var(--bcg-color-);
    border-radius: 30px;
}

.responces-user {
    display: flex;
    gap: 20px;
}

.responces-photo {
    border-radius: 50%;
}

.responces-name {
    color: var(--join-bcg-);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.responces-location{
    color: var(--text-color-);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.responces-text {
    margin-top: 25px;
    color: var(--text-color-);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

/* Section Partners */

.partners {
    padding-top: 140px;
    padding-bottom: 50px;
}

.partners-list {
    margin-left: 48px;
    margin-right: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Section Projects */

.projects {
    padding-top: 75px;
    padding-bottom: 140px;
}

.projects-title {
    margin-bottom: 20px;
    color: var(--join-bcg-);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 47px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.22px;
}

.projects-text {
    width: 786px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 71px;
    color: var(--text-color-);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 60px;
}

.projects-image {
    border-radius: 0px 80px 0px 0px;
    margin-bottom: 24px;
}

.projects-details {
    display: flex;
    justify-content: space-between;
}

.projects-name {
    color: var(--join-bcg-);
    font-family: "DM Serif Display";
    font-size: 24px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.22px;
}

.projects-category {
    color: var(--text-color-);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.projects-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--info-bcg-);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-circle:hover, .projects-circle:active {
    background-color: var(--hover-button-cards-);
}

/* Section Information */

.information {
    background-color: var(--info-bcg-);
    padding-top: 140px;
    padding-bottom: 140px;
}

.information-list {
    display: flex;
    justify-content: space-between;
}

.information-item {
    width: 288px;
    height: 195px;
}

.information-number {
    margin-bottom: 10px;
    color: var(--active-color-);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 85px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1.7px;
}

.information-text {
    color: var(--text-color-);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.information-line {
    width: 1px;
    height: 195px;
    background-color: var(--active-color-);
}

/* Section Recent Blogs */

#recentblog {
    padding-top: 160px;
    padding-bottom: 141px;
}

.recentblog-title {
    color: var(--join-bcg-);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 48px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.22px;
}

.recentblog-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 19px;
    row-gap: 40px;
}

.recentblog-item {
    width: 387px;
    height: 515px;
    padding: 21px;
    border-radius: 62px;
    border: 1px solid var(--border-color-);
}

.recentblog-item:hover, .recentblog-item:active {
    box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.7);
}

.recentblog-image {
    border-radius: 45px 45px 0px 0px;
}

.recentblog-text {
    margin-top: 21px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 589px;
    color: var(--text-color-);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.recentblog-name {
    margin-top: 15px;
    margin-bottom: 20px;
    color: var(--join-bcg-);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.5px;
}

.recentblog-card-bottom {
    display: flex;
    gap: 148px;
    align-items: center;
}

.recentblog-date {
    color: var(--text-color-);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.recentblog-circle {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: var(--info-bcg-);
    display: flex;
    justify-content: center;
    align-items: center;
}

.recentblog-circle:hover, .recentblog-circle:active {
    background-color: var(--hover-button-cards-);
}

/* Section Join */

.join {
    padding-bottom: 70px;
}

.join-radius {
    padding-top: 100px;
    padding-bottom: 95px;
    padding-right: 333px;
    padding-left: 333px;
    border-radius: 70px;
    background-color: var(--join-bcg-);
}

.join-title {
    color: var(--bcg-color-);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 50px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.join-text {
    margin-top: 9px;
    margin-bottom: 31px;
    color: var(--bcg-color-);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.join-button {
    padding-top: 19px;
    padding-bottom: 16px;
    padding-right: 15px;
    padding-left: 34px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--active-color-);
    border: none;
    border-radius: 18px;
    color: var(--bcg-color-);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.join-button:hover, .join-button:active {
    background-color: var(--hover-button-light-);
}

/* Footer */

.bottom-section-first {
    border-top: 1px solid var(--bottom-border-);
    border-bottom: 1px solid var(--bottom-border-);
    padding-top: 50px;
    padding-bottom: 80px;
}

.low {
    display: flex;
    gap: 76px;
    justify-content: space-between;
}

.bottom-text {
    margin-top: 15px;
    margin-bottom: 29px;
    width: 326px;
    color: var(--text-color-);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.bottom-list {
    display: flex;
    gap: 40px;
}

.bottom-title {
    margin-bottom: 21px;
    color: var(--join-bcg-);
    font-family: "DM Serif Display";
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.pages-item {
    margin-bottom: 30px;
}

.pages-details {
    color: var(--text-color-);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.pages-details:hover, .pages-details:active {
    color: var(--active-color-);
}

.explore-item {
    margin-bottom: 30px;
}

.explore-link {
    color: var(--text-color-);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.explore-link:hover, .explore-link:active {
    color: var(--active-color-);
}

.address-item {
    width: 321px;
    margin-bottom: 30px;
}

.address-link {
    color: var(--text-color-);
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.address-link:hover, .address-link:active {
    color: var(--active-color-);
}

.bottom-copyrights {
    padding-top: 35px;
    padding-bottom: 35px;
}

.copyrights-details {
    color: var(--text-color-);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}

.copyrights-author {
    color: var(--active-color-);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}