.partners {
    padding-top: 140px;
    padding-bottom: 50px;
}

.partners-list {
    margin-left: 48px;
    margin-right: 55px;
    display: flex;
    align-items: center;
}

.partners-item:nth-child(1) {
    margin-right: 125px;
}

.partners-item:nth-child(2) {
    margin-right: 110px;
}

.partners-item:nth-child(3) {
    margin-right: 89px;
}

.partners-item:nth-child(4) {
    margin-right: 112px;
}