ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "Jost";
}

.action {
  transform: scaleX(0);
  transition: all 1s;
}

.header {
  padding-top: 26px;
  padding-bottom: 30px;
}
.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 177px;
  height: 50px;
}

.nav__list {
  display: flex;
  gap: 40px;
}
.nav__link {
  color: #292F36;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: 0.4px;
}
.nav__link:active, .nav__link:hover {
  color: #CDA274;
}

.active {
  color: #CDA274;
}

.hero {
  padding-top: 188px;
  padding-bottom: 260px;
  background-image: url(../images/hero-bcg@1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0px 0px 0px 290px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-bcg@2x.webp);
  }
}
.hero__title {
  width: 595px;
  margin-bottom: 18px;
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 80px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.22px;
}
.hero__text {
  width: 577px;
  margin-bottom: 35px;
  color: #4D5053;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.hero__button {
  padding: 18px 20px 17px 34px;
  background-color: #292F36;
  border: none;
  border-radius: 18px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}
.hero__button:hover, .hero__button:active {
  background-color: #202429;
}
.hero__icon {
  fill: #CDA274;
  width: 26px;
  height: 36px;
}

.details {
  padding-top: 100px;
  padding-bottom: 50px;
}
.details__list {
  display: flex;
  justify-content: center;
}
.details__item {
  width: 400px;
  height: 395px;
  padding-top: 75px;
  padding-bottom: 103px;
}
.details__item:nth-child(1) {
  padding-left: 42px;
  padding-right: 41px;
}
.details__item:nth-child(1) > .details-text {
  margin-bottom: 68px;
}
.details__item:nth-child(2) {
  padding-left: 52px;
  padding-right: 51px;
}
.details__item:nth-child(3) {
  padding-left: 52px;
  padding-right: 52px;
}
.details__title {
  color: #292F36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.22px;
}
.details__text {
  color: #4D5053;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  margin-top: 17px;
  margin-bottom: 35px;
}
.details__more {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}
.details__link {
  color: #4D5053;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.36px;
}
.details__link:hover, .details__link:active {
  color: #CDA274;
}
.details__icon {
  fill: aqua;
  width: 24px;
  height: 17px;
}

.innovations {
  padding-top: 50px;
  padding-bottom: 140px;
}
.innovations > .container {
  display: flex;
  justify-content: space-between;
}
.innovations__info {
  width: 592px;
  height: 568px;
}
.innovations__title {
  margin-top: 40px;
  margin-bottom: 42px;
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.22px;
}
.innovations__text {
  width: 515px;
  color: #4D5053;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.innovations__undertext {
  margin-bottom: 50px;
  margin-top: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.innovations__circle {
  width: 93px;
  height: 93px;
  background-color: #F4F0EC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innovations__phone {
  fill: #CDA274;
  width: 34px;
  height: 34px;
}
.innovations__telephone {
  color: #4D5053;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.innovations__telephone:hover, .innovations__telephone:active {
  color: #CDA274;
}
.innovations__remark {
  color: #4D5053;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.innovations__button {
  padding: 18px 25px 17px 34px;
  background-color: #292F36;
  border: none;
  border-radius: 18px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.innovations__button:hover, .innovations__button:active {
  background-color: #202429;
}
.innovations__icon {
  fill: #CDA274;
  width: 26px;
  height: 36px;
}
.innovations__image {
  border-radius: 0px 326px 0px 123px;
  width: 592px;
  height: 635px;
}

.responces__radius {
  padding-top: 103px;
  padding-bottom: 121px;
  background-color: #F4F0EC;
  border-radius: 70px;
}
.responces__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
  width: 479px;
  color: #292F36;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 45px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.22px;
}
.responces__list {
  display: flex;
  gap: 18px;
  justify-content: center;
}
.responces__item {
  width: 354px;
  height: 287px;
  padding-top: 50px;
  padding-bottom: 45px;
  padding-left: 35px;
  padding-right: 75px;
  background-color: #FFFFFF;
  border-radius: 30px;
}
.responces__user {
  display: flex;
  gap: 20px;
}
.responces__photo {
  border-radius: 50%;
  width: 77px;
  height: 77px;
}
.responces__name {
  color: #292F36;
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.responces__location {
  color: #4D5053;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}
.responces__text {
  margin-top: 25px;
  color: #4D5053;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.partners {
  padding-top: 140px;
  padding-bottom: 50px;
}

.partners-list {
  margin-left: 48px;
  margin-right: 55px;
  display: flex;
  align-items: center;
}

.partners-item:nth-child(1) {
  margin-right: 125px;
}

.partners-item:nth-child(2) {
  margin-right: 110px;
}

.partners-item:nth-child(3) {
  margin-right: 89px;
}

.partners-item:nth-child(4) {
  margin-right: 112px;
}

.projects {
  padding-top: 75px;
  padding-bottom: 140px;
}

.projects-title {
  margin-bottom: 20px;
  color: var(--join-bcg-);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 47px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.22px;
}

.projects-text {
  width: 786px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 71px;
  color: var(--text-color-);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 60px;
}

.projects-image {
  border-radius: 0px 80px 0px 0px;
  margin-bottom: 24px;
}

.projects-details {
  display: flex;
  justify-content: space-between;
}

.projects-name {
  color: var(--join-bcg-);
  font-family: "DM Serif Display";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.22px;
}

.projects-category {
  color: var(--text-color-);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.projects-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--info-bcg-);
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-circle:hover, .projects-circle:active {
  background-color: var(--hover-button-cards-);
}

.information {
  background-color: var(--info-bcg-);
  padding-top: 140px;
  padding-bottom: 140px;
}

.information-list {
  display: flex;
  gap: 16px;
}

.information-item {
  width: 288px;
  height: 195px;
}

.information-item:nth-child(1) {
  border-right: 1px solid var(--active-color-);
}

.information-item:nth-child(2) {
  border-right: 1px solid var(--active-color-);
}

.information-item:nth-child(3) {
  border-right: 1px solid var(--active-color-);
}

.information-number {
  margin-bottom: 10px;
  color: var(--active-color-);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 85px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1.7px;
}

.information-text {
  color: var(--text-color-);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.information-line {
  width: 1px;
  height: 195px;
  background-color: var(--active-color-);
}

.blog {
  padding-top: 160px;
  padding-bottom: 141px;
}

.recentblog-title {
  color: var(--join-bcg-);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.22px;
}

.recentblog-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 19px;
       column-gap: 19px;
  row-gap: 40px;
}

.recentblog-item {
  width: 387px;
  height: 515px;
  padding: 21px;
  border-radius: 62px;
  border: 1px solid var(--border-color-);
}

.recentblog-item:hover, .recentblog-item:active {
  box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.7);
}

.recentblog-image {
  border-radius: 45px 45px 0px 0px;
}

.recentblog-text {
  margin-top: 21px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 589px;
  color: var(--text-color-);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.recentblog-name {
  margin-top: 15px;
  margin-bottom: 20px;
  color: var(--join-bcg-);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.recentblog-card-bottom {
  display: flex;
  gap: 148px;
  align-items: center;
}

.recentblog-date {
  color: var(--text-color-);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.recentblog-circle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--info-bcg-);
  display: flex;
  justify-content: center;
  align-items: center;
}

.recentblog-circle:hover, .recentblog-circle:active {
  background-color: var(--hover-button-cards-);
}

.join {
  padding-bottom: 70px;
}

.join-radius {
  padding-top: 100px;
  padding-bottom: 95px;
  padding-right: 333px;
  padding-left: 333px;
  border-radius: 70px;
  background-color: var(--join-bcg-);
}

.join-title {
  color: var(--bcg-color-);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 50px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.join-text {
  margin-top: 9px;
  margin-bottom: 31px;
  color: var(--bcg-color-);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.join-button {
  padding-top: 19px;
  padding-bottom: 16px;
  padding-right: 15px;
  padding-left: 34px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--active-color-);
  border: none;
  border-radius: 18px;
  color: var(--bcg-color-);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.join-button:hover, .join-button:active {
  background-color: var(--hover-button-light-);
}

.bottom-section-first {
  border-top: 1px solid var(--bottom-border-);
  border-bottom: 1px solid var(--bottom-border-);
  padding-top: 50px;
  padding-bottom: 110px;
}

.low {
  display: flex;
  gap: 76px;
  justify-content: space-between;
}

.bottom-text {
  margin-top: 15px;
  margin-bottom: 29px;
  width: 326px;
  color: var(--text-color-);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.bottom-list {
  display: flex;
  gap: 40px;
}

.bottom-title {
  margin-bottom: 21px;
  color: var(--join-bcg-);
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.pages-item {
  margin-bottom: 30px;
}

.pages-item:last-child {
  margin: 0;
}

.pages-details {
  color: var(--text-color-);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.pages-details:hover, .pages-details:active {
  color: var(--active-color-);
}

.explore-item {
  margin-bottom: 30px;
}

.explore-item:last-child {
  margin: 0;
}

.explore-link {
  color: var(--text-color-);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.explore-link:hover, .explore-link:active {
  color: var(--active-color-);
}

.address-item {
  width: 321px;
  margin-bottom: 30px;
}

.address-item:last-child {
  margin: 0;
}

.address-link {
  color: var(--text-color-);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.address-link:hover, .address-link:active {
  color: var(--active-color-);
}

.bottom-copyrights {
  padding-top: 35px;
  padding-bottom: 35px;
}

.copyrights-details {
  color: var(--text-color-);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}

.copyrights-author {
  color: var(--active-color-);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.22px;
}/*# sourceMappingURL=main.css.map */