$join-bcg: #292F36;
$text-color: #4D5053;
$active-color: #CDA274;
$bcg-color: #FFFFFF;
$info-bcg: #F4F0EC;
$border-color: #E7E7E7;
$footer-border: #E5E5E5; 
$hover-button-dark: #202429; 
$hover-button-light: #be966c;
$hover-button-cards: #efe8e1;